{
	debug
	email {env.ACME_EMAIL}
}

(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "sameorigin"
		X-Robots-Tag "noindex, noarchive, nofollow"
	}
}

(tls_config) {
	tls {
		dns namecheap {
			api_key {env.NAMECHEAP_API_KEY}
			user {env.NAMECHEAP_USERNAME}
			endpoint {env.NAMECHEAP_ENDPOINT}
		}
	}
}

https://www.{$DOMAIN_NAME}:443 {
	import tls_config
	root * /www/
	file_server
}

https://hello.{$DOMAIN_NAME}:443 {
	import tls_config
	respond "Hello"
}

https://gitlab.{$DOMAIN_NAME}:443 {
	import tls_config
	reverse_proxy http://gitlab:80
}

https://registry.{$DOMAIN_NAME}:443 {
	import tls_config
	reverse_proxy http://gitlab:5000 {
		header_up Host {http.reverse_proxy.upstream.hostport}
	}
}
