*.{$DOMAIN_NAME} {
	tls {$ACME_EMAIL} {
		dns namecheap {
			api_key {env.NAMECHEAP_API_KEY}
			user {env.NAMECHEAP_USERNAME}
			endpoint {env.NAMECHEAP_ENDPOINT}
		}
	}

	header {
		X-Robots-Tag "noindex noarchive nosnippet nofollow"
	}
}

hello.{$DOMAIN_NAME} {
	respond "Hello"
}

www.{$DOMAIN_NAME} {
	root * /www/
	file_server
}

gitlab.{$DOMAIN_NAME} {
	reverse_proxy gitlab:80
}
