{
	debug
	email {$ACME_EMAIL}
}

(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "sameorigin"
		X-Robots-Tag "noindex, noarchive, nofollow"
	}
}

(tls_config) {
	tls {
		issuer zerossl {$ZEROSSL_API_KEY}
	}
}

*.{$DOMAIN_NAME} {
	import tls_config
}

{$DOMAIN_NAME} {
	redir www.{$DOMAIN_NAME}
}

www.{$DOMAIN_NAME} {
	root * /www/
	file_server
}

hello.{$DOMAIN_NAME} {
	respond "Hello"
}

gitlab.{$DOMAIN_NAME} {
	reverse_proxy http://gitlab:80
}

registry.{$DOMAIN_NAME}:443 {
	reverse_proxy http://gitlab:5000
}

# *.{$DOMAIN_NAME} {
# 	reverse_proxy http://gitlab:81
# }
